.Comment,
.Comment_fullscreen {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;

    color: #67727E;

    margin-bottom: 1rem;
}

.Comment_fullscreen {
    display: none;
}

.meta {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    gap: 1rem;

    margin-bottom: 1rem;
}

.authorName {
    color: #334253;
    font-weight: 500;
    line-height: 1.185;
}

.you {
    background-color: #5357B6;
    border-radius: 2px;
    padding: 6px;
    color: white;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
}

.content {
    margin-bottom: 1rem;
    line-height: 1.5rem;
    
}

.textArea {
    flex-basis: 100%;
    border: 1px solid #E9EBF0;
    border-radius: 8px;
    min-height: 6rem;
    margin-bottom: 1rem;
    resize: none;

    padding: 0.75rem 1.5rem;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;

    width: 100%;


    &:focus {
        border: 2px solid #5357B6;
        outline: none;
    }
}


.replyingTo {
    color: #5357B6;
    font-weight: 500;
}


.footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.score {
    background-color: #F5F6FA;
    border-radius: 10px;
    width: 100px;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    
    overflow: hidden;

    button {
        width: 33.3%;
        height: 100%;

        background-color: inherit;
        border: none;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }

    span {
        color: #5357B6;
        font-weight: 500;
        line-height: 1.2rem;
    }
}

.functions {
    display: flex;
    flex-flow: row nowrap;

    gap: 1rem;
    
    justify-content: space-between;
    align-items: center;
}

.reply,
.delete,
.edit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    gap: .5rem;

    cursor: pointer;

    span {
        color: #5357B6;
        font-weight: 500;
        line-height: 1.5rem;

        
    }

    &:hover {
        span {
            color: #C5C6EF;
        }
    
    }
}

.delete {
    span {
        color:#ED6368;
        
        &:hover {
            color: #FFB8BB;
        }
    }

}

.updateButtonWrapper {
    display: flex;
    justify-content: flex-end;
    
    button {
        width: 104px;
        height: 48px;

        background-color: #5357B6;
        border-radius: 8px;
        color: white;

        border: none;

        font-weight: 600;

        &:hover {
            background-color: #C5C6EF;
        }

        &:active {
            transition: transform .3s;
            transform: scale(.95);
        }
    }
}

@media screen and (min-width:720px) {
    .Comment {
        display: none;
    }

    .Comment_fullscreen {
        display: flex;
        flex-flow: row nowrap;

        justify-content: space-between;
        justify-items: center;
        align-items:flex-start;

        gap: 1.5rem;

        padding-left: 1.5rem;
    }


    .score {
        flex-flow: column nowrap;
        width: 40px;
        height: 100px;

        button {
            width: 100%;
        }
    }

    .main {
        flex-basis: 100%;
    }
    .functions {
        margin-left: auto;
    }
}